NEXT_PUBLIC_COMPANY_PHONE=(513) 307-5840
NEXT_PUBLIC_LEAD_EMAIL=sales@urbanstone.co
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/amazongranite 
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/amazongranitellc/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@urbanstoneco
NEXT_PUBLIC_WAYALABS_URL=https://wayalabs.com
LEAD_WEBHOOK_URL=https://example.com/incoming/amazon-granite